.cart {
   padding: 24px 0 60px;

   &__title {
      font-family: 'Inter', sans-serif;
      font-weight: 900;
      font-size: 24px;
      line-height: 1.2;
      color: #1c1c1c;
      margin-bottom: 24px;
   }

   &__wrapper {
      display: grid;
      grid-template-areas: 'list''form''order';
      gap: 24px;

      @media (min-width: 768px) {
         grid-template-areas: 'list order''form form';
         justify-content: space-between;
         gap: 32px;
      }

      @media (min-width: 1024px) {
         gap: 40px;
      }
   }

   &__list {
      grid-area: list;

      @media (min-width: 1024px) {
         width: 514px;
      }
   }

   &__item {
      display: flex;
      column-gap: 8px;

      &:not(:last-child) {
         margin-bottom: 16px;
      }

      @media (min-width: 1024px) {
         column-gap: 12px;
      }

      &-description {
         display: flex;
         flex-direction: column;
      }

      &-image {
         width: 80px;
         height: 66px;
         border-radius: 16px;
         overflow: hidden;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }

         @media (min-width: 768px) {
            width: 120px;
            height: 99px;
         }
      }

      &-title {
         margin-bottom: 4px;

         @media (min-width: 768px) {
            font-size: 16px;
            margin-bottom: 6px;
         }
      }

      &-price {
         align-self: end;
         margin-bottom: 5px;

         @media (min-width: 768px) {
            font-size: 16px;
            align-self: start;
            margin-bottom: 0;
            margin-left: auto;
            margin-top: 10px;
         }
      }

      &-id {
         font-size: 9px;
         color: #969eae;
         margin-bottom: 13px;

         @media (min-width: 768px) {
            font-size: 12px;
            margin-bottom: 24px;
         }
      }

      &-counter {
         display: flex;
         align-items: center;
         justify-content: space-around;
         border: 1px solid #eeeff2;
         border-radius: 32px;
         width: 64px;
         height: 24px;
      }
   }

   &__order {
      grid-area: order;

      &-title {
         font-weight: 400;
         font-size: 16px;
         margin-bottom: 16px;

         @media (min-width: 768px) {
            font-size: 20px;
         }
      }

      &-info {
         display: flex;
         justify-content: space-between;
         margin-bottom: 32px;
      }
      &-count{
         font-size: 12px;
         @media (min-width: 768px){
             font-size: 16px; 
         }
      }
      &-delivery {
         font-size: 9px;
         color: #969eae;
         margin-bottom: 8px;
         @media (min-width: 768px){
             font-size: 12px; 
         }
      }

      &-button {
         border: 1px solid #0044f0;
         border-radius: 32px;
         width: 100%;
         height: 38px;
         background: #0044f0;
         color: #fff;
      }

      @media (min-width: 768px) {
         justify-self: end;
         width: 302px;
      }

      @media (min-width: 1024px) {
         width: 408px;
      }
   }

   &__form {
      grid-area: form;
      padding: 24px 0;
      border-top: 1px solid #eeeff2;
      border-bottom: 1px solid #eeeff2;
      font-family: inherit;

      @media (min-width: 768px) {
         padding: 32px 0;
      }

      @media (min-width: 1024px) {
         padding: 40px 0;
         border-bottom: 0;
      }

      &-title {
         font-weight: 400;
         font-size: 16px;
         margin-bottom: 16px;
      }

      &-inputs {
         display: grid;
         row-gap: 8px;
         margin-bottom: 16px;
         
         @media (min-width: 768px){
             grid-template-columns: repeat(2, 1fr);
             gap: 10px;
             max-width: 832px;
             textarea{
               grid-column: span 2;
             }
         }
      }

      &-input {
         flex-basis: 50%;
         border-radius: 4px;
         width: 100%;
         padding: 11px 14px;
         background: #eeeff2;
         border: 0;
         font-size: 12px;
         line-height: 1.2;

         &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.2;
            color: #969eae;
         }
      }

      &-wrapper {
         display: flex;
         flex-direction: column;
         row-gap: 16px;

         @media (min-width: 768px) {
            flex-direction: row;
         }
      }

      &-fieldset {
         display: flex;
         flex-direction: column;
         row-gap: 8px;

         div {
            display: flex;
            align-items: center;
            column-gap: 8px;
         }

         @media (min-width: 768px) {
            max-width: 230px;
            width: 100%;
         }
      }

      &-legend {
         font-weight: 400;
         font-size: 16px;
         line-height: 1.2;
         color: #151515;
         margin-bottom: 16px;
      }
   }
}

.counter {
   &__minus {}

   &__number {}

   &__plus {}
}