@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	src: local(''),
	url("./fonts/Inter-Black.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: local(''),
	url("./fonts/Inter.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("./fonts/OpenSans-Regular.woff2") format("woff2");
}
